<div class="editItemForm">
  <%= form_for @story_node, :method => :save do |form| %>
    <%= form.text_field :title, :placeholder => "Chapter Title" %>
		<%= form.text_area :content, :class => "stories_text_area", :placeholder => "Chapter contents" %>
    <%= form.hidden_field :parent, :value => params[:parent] %>
		</br>
		<%= form.submit "Save" %>
	<% end %>
</div>
