<div class="editItemForm">
  <h1>Create Branch</h1>
  <%= form_for @story_node, :method => :save do |form| %>
    <h2>Branch Title</h2>
    <%= form.text_field :title, :placeholder => "Branch Title" %>
    <h2>Branch Content</h2>
		<%= form.text_area :content, :class => "stories_text_area", :placeholder => "Branch Content" %>
    <%= form.hidden_field :parent, :value => params[:parent] %>
		</br>
    <%= form.submit "Save", :class => "btn saveButton" %>
	<% end %>
</div>
