<div class="row">
  <div class="span3">
    <h1 class="story-title"><%= @story_node.story.title %></h1>
  </div>

  <div class="span10 offset1">
    <div id="story-node-placeholder"></div>
  </div>
</div>
<br />
<div class="row">
  <div class="span10 offset4">
    <% if !@comments.nil? %>
      <div class="comments-container">
        <% @comments.each do |comment| %>
          <div class="comment">
            <h3><%= comment.user.username %></h3>
            <p><%= comment.comment %></p>
          </div>
        <% end %>
      </div>
    <% end %>

    <% if signed_in? %>
      <h2>Post a comment</h2>
      <div class="commentForm">
        <%= form_for @comment, :method => :post do |form| %>
          <!--<%= form.text_field :title, :placeholder => "Title" %>
          </br>-->

          <%= form.text_area :comment, :placeholder => "Comment" %>

          </br>

          <%= form.submit "Post Comment", :class => "btn primary postCommentButton" %>

          <% if !@story_node.nil? %>
            <%= form.hidden_field 'story_node_id', :value => @story_node.id %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  window.BranchItOut.storyNode = <%= raw @story_node.to_json %>;
  window.BranchItOut.storyNode.branches = <%= raw @story_node.branches.to_json %>;
  window.BranchItOut.storyNode.author = {
    id       : <%= raw @story_node.author.id.to_json %>,
    username : <%= raw @story_node.author.username.to_json %>
  };
</script>

<%= requirejs_include_tag 'story_node_page' %>

<%= render 'templates/story_node_templates.html' %>

<!--
<div class="fb-like" data-href=<%= request.url %> data-send="false" data-width="450" data-show-faces="true"></div>
-->
