<p>
  <% if @story_node.previous_branches.length > 0 %>
    <%= link_to 'back', :action => :show, :id => @story_node.previous_branches[0].id %>
  <% end %>
  <br />
  <b>Story Title:</b>
  <%= @story_node.story.title %>
  <br />
  <br />


  <div id="story-node-placeholder"></div>
</p>

<script type="text/javascript">
  window.BranchItOut.storyNode = <%= raw @story_node.to_json %>;
  window.BranchItOut.storyNode.branches = <%= raw @story_node.branches.to_json %>;
</script>

<%= requirejs_include_tag 'story_node_page' %>

<%= render 'templates/story_node_templates.html' %>
