<p>
  <% if @previous_node_branch %>
    <%= link_to 'back', :action => :show, :id => @previous_node_branch.from_node %>
  <% else %>
    <%= link_to 'back', :controller => :stories, :action => :show, :id => @story.id %>
  <% end %>
  <br />
  <b>Story Title:</b>
  NOT DONE YET
  <br />
  <br />

  <b>Chapter Title:</b>
  <%= @story_node.title %>
  <br />
  <br />
  
  <%= @story_node.content %>
  <br />
  <br />

  <%= link_to "Edit Story", :action => :edit %>
  <br />
  <br />

  <b>Branch List</b>
  <br />
  <% if @story_branches %>
    <% @story_branches.each_with_index do |branch, index| %>
      <%= link_to @branch_titles[index].title, :action => :show, :id => branch.to_node %>
      <br />
    <% end %>
  <% end %>
  <br />

  <%= link_to "New Branch", :action => :new, :options => {'referer' => @story_node.id} %>
</p>
