<%= render 'layouts/topbar' %>

<p>
  	<b>Title:</b>
  	<%= @story.title %>
  	</br>
  	<b>Content:</b>
  	<%= @story.content %>

	<%= form_for @story, :url => story_path do |form| %>
		<%= form.text_area :content, :class => "stories_text_area", :placeholder => @story.content %>
		</br>
		<%= form.submit "Save" %>
	<% end %>
</p>