<div id="new-stories-page">
  <%= form_for @story do |form| %>
    <%= form.text_field :title, :placeholder => "Title", :autocomplete => "on" %>
    </br>
    <%= form.text_field :category, :placeholder => "Category" %>
    </br>
    <%= form.text_area :description, :placeholder => "Description" %>
    </br>
    <%= form.submit "Create Story" %>
  <% end %>
</div>
