<%= render 'layouts/topbar' %>
<%= render 'templates/story_templates' %>

<%= image_tag("logo.png", :size => "429x244") %>

<div class="span10">
	<div class="frontpage_left_div">
		<a href="/stories/new"> Create Story </a>
		</br>

    <ul id="story-list-placeholder"></ul>

    <script type="text/javascript">
      window.BranchItOut.stories = <%= raw @stories.to_json %>;
    </script>
	</div>
</div>

<%= requirejs_include_tag "home_page" %>
