<%= render 'templates/story_templates.html' %>

<div id="frontpage" class="span10">
  <h1>Stories</h1>
  <a class="submit_button" href="/stories/new">
    Create Story
  </a>

  <ul id="story-list-placeholder"></ul>

  <script type="text/javascript">
    window.BranchItOut.stories = <%= raw @stories.to_json %>;
  </script>
</div>

<div class="span6">
	<div class="frontpage_right_div">
		</br>
		
		<%= form_for @user do |form| %>
			<%= form.text_field :user_name, :class => "small", :placeholder => "Username", :autocomplete => "on" %>
			<%= form.submit "Sign up/Login", :class => "frontpage_submit_button" %>
		<% end %>
	</div>
</div>

<%= requirejs_include_tag "home_page" %>
