<%= render 'layouts/topbar' %>

<div class="span10">
	<div class="frontpage_left_div">
		<%= form_for @story, :url => root_path do |form| %>
			<%= form.text_field :title, :class => "frontpage_large_textfield", :placeholder => "Story Name" %>
			<%= form.submit "Create new story", :class => "frontpage_create_new_story_button" %>
		<% end %>
		
		</br>
		</br>
		
		<% @stories.each do |story| %>
		  <tr> 
			<%= story.id %> <td><%= story.title %></td> <%= link_to "View", story %> <%= link_to "Edit", story %>
		  </tr>
		  </br>
		<% end %>
	</div>
</div>

<div class="span6">
	<div class="frontpage_right_div">
		</br>
		
		<%= form_for(:session, :url => sessions_path) do |form| %>
			<%= form.text_field :username, :class => "small", :placeholder => "Username", :autocomplete => "on" %>
			<%= form.text_field :pw, :class => "small", :placeholder => "Password" %>
			<%= form.submit "Sign in", :class => "frontpage_submit_button" %>
		<% end %>
	</div>
</div>


