<div id="header" class="row">
  <div class="span4">
    <a href=<%= root_path %>>
      <%= image_tag("logo.png", :size => "175x100", :alt => "Branch it out") %>
    </a>
  </div>
  <div class="span8">
    <h2 class="tagLine">Your Path. Your choice.</h2>
  </div>
  <div class="span4">
    <% if signed_in? %>
      <a href="<%= sign_out_path %>">Logout</a>
      <%= current_user.username %>
    <% else %>
      <a href="<%= sign_in_path %>">Login</a>
    <% end %>
  </div>
</div>
