<!DOCTYPE html>
<html>
  <head>
    <title><%= setTitleBasedOnPage %></title>
    <%= stylesheet_link_tag   "application" %>
    <%= requirejs_include_tag "application" %>
    <%= csrf_meta_tags %>

    <style type="text/css">
      body {
        padding-top: 50px;
      }
    </style>
  </head>

  <body>
    <div class="container">

      <section class="round">
        <% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
        <% end %>
      </section>

      <div class="content">
        <section id="grid-system">
          <div class="row">
            <%= yield %>
          </div>
        </section>
      </div>

      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
